<h1><%= title %></h1>
<%- messages() %>
<div class="content">
  <h3>Change Personal Info</h3>
  <form action="/account/account-update" method="post" id="updateAccountForm">
    <div class="form-group">
      <label for="account_firstname">First Name:</label>
      <input
        id="account_firstname"
        type="text"
        name="account_firstname"
        required
        value="<%- accountData.account_firstname %>"
      />
      <br />

      <label for="account_lastname">Last Name:</label>
      <input
        id="account_lastname"
        type="text"
        name="account_lastname"
        required
        value="<%- accountData.account_lastname %>"
      />
      <br />

      <label for="account_email">Email:</label>
      <input
        id="account_email"
        type="email"
        name="account_email"
        required
        value="<%- accountData.account_email %>"
      />
      <br />

      <input
        type="text"
        name="account_id"
        value="<%- accountData.account_id %>"
        hidden
        readonly
      />

      <button type="submit">Update Account</button>
    </div>
  </form>
  <br />
  <h3>Change Password</h3>
  <form action="/account/change-password" method="post" id="changePasswordForm">
    <div class="form-group">
      <!-- <label for="current_password">Current Password:</label>
      <input
        id="current_password"
        type="password"
        name="current_password"
        required
      />
      <br /> -->
      <p>
        Passwords must be minimum of 12 characters and include 1 capital letter,
        1 number and 1 special character.
      </p>
      <label for="new_password">New Password:</label>
      <input
        type="password"
        id="password"
        name="new_password"
        required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      />
      <br />

      <!-- <label for="confirm_new_password">Confirm New Password:</label>
      <input
        id="confirm_new_password"
        type="password"
        name="confirm_new_password"
        required
      />
      <br /> -->

      <input
        type="text"
        name="account_id"
        value="<%- accountData.account_id %>"
        hidden
        readonly
      />

      <label>
        <input type="checkbox" id="showPassword" onclick="togglePassword()" />
        Show password
      </label>
      <br />
    </div>
    <br>
    <button type="submit">Change Password</button>
  </form>
  <br />
  <!-- <h3>Delete Account</h3>
  <form action="/account/delete-account" method="post" id="deleteAccountForm">
    <input
      type="text"
      name="account_id"
      value="<%- accountData.account_id %>"
      hidden
      readonly
    />
    <button class="delete-btn" type="submit">Delete Account</button>
  </form> -->
</div>

<script>
  function togglePassword() {
    const pwd = document.getElementById("password");
    const show = document.getElementById("showPassword").checked;
    pwd.type = show ? "text" : "password";
  }
</script>
